// Bootstrap
@import "~@coreui/coreui/scss/coreui";

// Plugins
@import "~simple-line-icons/scss/simple-line-icons";
@import "~toastr/toastr";
@import "~@fancyapps/fancybox/dist/jquery.fancybox";
@import "~select2/dist/css/select2";
@import "~mediaelement/build/mediaelementplayer";
@import "~@claviska/jquery-minicolors/jquery.minicolors";

// Motor
.form-control-sortable {
  display: inline-block;
  width: 97%;
}

.sortable-handle {
  width: 3%;
}

.box-header > .box-tools.full {
  position: static;
}

.content-header .btn {
  margin-left: 5px;
}

.pagination {
  margin: 0 !important;
}

h3.box-title {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 0;
}

.content-header h4 {
  padding: 0 1.25rem 0.85rem 1.25rem;
}

.breadcrumb-item i {
  display: none;
}

.form-inline input, .form-inline select {
  margin-right: 0.25rem;
}

#grid-search-button {
  margin-top: 0 !important;
}

.box-tools {
  float: right;
}

.form-control-upload {
  padding: 0.25rem 0 !important;
  border: none !important;
}

.delete-file-button {
  position: absolute;
  right: 15px;
}

.grid-input {
  text-align: center;
  width: 2rem;
}

.file-association-dropzone {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.nav-link i, .nav-link svg {
  min-width: 20px;
  text-align: center;
}

.nav-dropdown-items .nav-link i, .nav-dropdown-items .nav-link svg {
  display: none !important;
}

.nav-dropdown-items .nav-link {
  padding-left: 40px;
}
.sidebar-padding {
  padding: 10px;
}